# vscode files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Ansible files
*.retry

# Python files
*/__pycache__
*.pyc

# Blackbox files
*.swp
.blackbox/pubring.gpg~
.blackbox/pubring.kbx~
.blackbox/secring.gpg
/blackbox/pubring.gpg~
/blackbox/pubring.kbx~
/blackbox/secring.gpg/ansible/secrets/nocix_server_1

# Ignore all files in secrets folders
# We don't want to accidentally commit an unencrypted secrets file
*/secrets/*
*/secret/*
ansible/secrets/secret_vars.yml

# But include the encrypted files
!*/secrets/*.gpg
!*/secret/*.gpg/ansible/secrets/secret_vars.yml
